footer {
    display: block;
    background: #2c2a29;
    clear: both;
    position: relative;
    width: 100%;
    padding: 32px 0 35px 0;
}

.footer-inner {
    background: url(../images/store/footer_logo.png) right 8px no-repeat;
    display: inline-block;
    left: 50%;
    position: relative;
    margin-left: -591px;
    width: 1182px;
}

.footer-menus ul {
    vertical-align: top;
    margin-bottom: 30px;
    width: 220px;
    /* display: none; */
    display: inline-block;
}

.en {
    font-family: Arial, HelveticaNeue, sans-serif, Helvetica;
}

.footer-menus ul li a {
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -1px;
    width: 100%;
}

.footer-menus ul li a:hover {
    text-decoration: underline;
}

#goPage {
    cursor: pointer;
}

#goPage:hover {
    text-decoration: underline;
}

.footer-menus ul li.footer-menu-ttl a {
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    cursor: default;
}

.footer-menus ul ul {
    border-bottom: 0;
    display: none;
}

.footer-menus ul ul li {
    display: block;
}

.footer-menus ul ul li a {
    background: #76685e;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
}

.footer-util-btn {
    display: none;
}

.footer-awards-wrap {
    height: 80px;
    margin-top: 40px;
    background: #282828;
    position: relative;
    width: 100%;
    padding-top: 20px;
}

.footer-awards-wrap-inner {
    position: absolute;
    left: 50%;
    margin-left: -591px;
    /* width: 1182px; */
    padding-bottom: 20px;
}

.footer-awards-slider {
    position: relative;
    /* display: inline-block; */
}

.footer-awards-wrap-inner > ul > li {
    float: left;
    position: relative;
}

.footer-awards-slider > li > a {
    display: block;
}

.footer-awards-slider::after {
    display: block;
    clear: both;
    content: '';
}

.footer-slider-controller {
    bottom: 3px;
    height: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 14;
}

.footer-slider-controller > .footer-slider-controls {
    display: none;
}

.footer-slider-pagers {
    display: none;
    height: 12px;
}

.footer-menus .footer-first-menu {
    display: none;
}

.copyright {
    color: #999;
    font-size: 12px;
    line-height: 18px;
    /* margin-left: -50px; */
    padding-top: 30px;
    text-align: center;
    width: 100%;
    /* position: relative;
    left: 50%; */
}

.copyright a {
    border-right: 1px solid #393939;
    color: #ccc;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
}

.copyright a:hover {
    text-decoration: underline;
}

.green01 {
    color: #00b050 !important;
    font-weight: bold;
}

.copyright a.last {
    border-right: 0;
}

.copyright a.btned_link {
    background: none;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px 0 3px;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

.copyright a.btned_link:hover {
    text-decoration: underline;
}

.copyright ul.copy-menu {
    padding: 25px 0 5px 0;
    margin: 0 auto;
    text-align: center;
}

.copyright ul.copy-menu::after {
    content: "";
    display: block;
    clear: both;
}

.copyright ul.copy-menu li {
    line-height: 1.3;
    display: inline-block;
    margin: 0 7px;
}

.copyright span.en {
    display: inline-block;
    line-height: 40px;
}

@media screen and (max-width: 920px) {
    footer {
        padding: 0;

    }

    .footer-util-btn {
        display: block;
    }

    .footer-util-btn ul {
        width: 90%;
        margin: 25px auto 0;
        text-align: center;
        display: flex;
    }

    .footer-util-btn ul li {
        display: inline-block;
        float: none;
        width: 31%;
        margin: 0.75%;
    }

    .footer-util-btn ul a {
        font-size: 20px;
        display: block;
        color: #fff;
        font-family: 'Arial';
        border: 2px solid #fff;
        border-radius: 3px;
        text-align: center;
        padding: 10% 3%;
    }

    .footer-util-btn ul a:hover {
        text-decoration: underline;
    }

    .footer-util-btn ul a:nth-child(2) {
        display: none;
    }

    .footer-inner {
        background: #554c46;
        left: 0;
        margin-left: 0;
        padding: 0 0 0 0;
        width: 100%;
    }

    .footer-menus .footer-first-menu {
        display: block;
        border-bottom: 1px solid #403a36;
        width: 100%;
        margin-bottom: 0;
    }

    .footer-first-menu .footer-menu-ttl {
        position: relative;
        display: block;
    }

    .footer-menus ul {
        border-bottom: 1px solid #403a36;
        width: 100%;
        margin-bottom: 0;
    }

    .footer-menus ul li a {
        background: #645952;
        color: #e6dbd3;
        display: block;
        font-size: 14px;
        line-height: 50px;
        text-indent: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .footer-menus ul li.footer-menu-ttl a {
        /* color: #fff;
        font-size: 14px;
        line-height: 50px;
        background: #554c46;
        display: block; */
        color: #fff;
        font-size: 14px;
        line-height: 50px;
        background: #554c46;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding: 12px; */
        width: 100%;
    }

    .footer-menus ul li.footer-2depth-ttl {
        background: #645952;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    span.footer-arrow-down {
        background: url(../images/footer/mobile_footer_arrow_down.png) no-repeat;
        background-size: 20px auto;
        display: block;
        height: 11px;
        margin-top: -5px;
        width: 20px;
        padding-right: 16px;
    }


    .footer-util-btn ul:after {
        content: "";
        display: block;
        clear: both;
    }

    .footer-awards-wrap {
        height: 80px;
        margin-top: 40px;
    }

    .footer-awards-wrap-inner {
        height: 64px;
        margin-left: -300px;
        top: 8px;
        width: 600px;
    }

    .footer-awards-slider img {
    max-width: 100%;
    display: block;
    }
    .bx-wrapper {
        background: none;
        border: none;
        box-shadow: none;
    }

    .footer-slide {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        position: relative;
        width: 100%;
        user-select: none;
    }

    .footer-slide-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
        width: 100%;
        /* height: 300px; */
        flex-shrink: 0;
        transition: left 0.15s;
    }

    .footer-slider-controller > .footer-slider-controls {
    display: inline-block;
    height: 12px;
    position: relative;
    width: 9px;
    }

    .pause-btn {
    border: none;
    background: none;
    color: #ccc;
    cursor: pointer;
    }

    .footer-slider-pagers {
        display: flex;
        gap: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .footer-slider-pagers > li {
        color: #7fb5ff88;
        cursor: pointer;
        font-size: 25px;
    }

    .footer-slider-pagers > li.active {
        color: #7fb5ff;
    }

    .footer-slide-item-duplicate {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0px;
        width: 100%;
        /* height: 300px; */
        flex-shrink: 0;
        transition: left 0.15s;
    }

    .copyright {
        color: #ccc;
        font-size: 12px;
        padding: 30px 0;
    }

    .copyright a.mbn {
        border-right: 0;
    }

    .copyright span.br {
        display: block;
    }

    .copyright ul.copy-menu {
        padding: 25px 0 5px 0;
        margin: 0 auto;
        text-align: center;
    }

    .copyright ul.copy-menu li {
        line-height: 1.3;
        display: block;
    }

}