

/* Header 기본 구조 */
.header-web {
  position: relative;
  background: #f6f5ef;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 120px;

  font-size: 13px;
}

.header-web-inner {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  place-items: center center;
}

.util-nav > ul {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 24px;
}

.gnb > ul {
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.gnb a {
  color: #999;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 8px 40px 8px;
}

.gnb a:hover {
    color: #669900;
    text-decoration: underline;
    background: #2c2a29;
    border-bottom: 1px solid #2c2a29;
    /* padding: 8px 8px 38px 8px; */
}

/* LNB 영역 */
.lnb-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 120px;
  width: 100%;
  background: #2c2a29;
  overflow: hidden;
  z-index: 999;

  /* 처음에는 접혀 있음 */
  /* 기본 상태 (접힘) */
  max-height: 0;
  /* opacity: 0; */
  transform: translateY(-10px);
  transition:
    max-height 0.6s cubic-bezier(0.6, 0, 0.4, 1),
    /* opacity 300ms ease, */
    transform 300ms ease;
  display: flex;
  justify-content: center;
}

/* 활성화 시 펼쳐짐 */
.lnb-wrap.active {
  max-height: 400px;
  /* opacity: 1; */
  transform: translateY(0);
}

.lnb-wrap.active.alt {
  /* gnb li a 옮겨갈때 애니메이션이 재실행이 안되는 문제가 있었는데, 동일한 상태지만 미세하게 다르게 지정해서 애니메이션 재실행 유도 */
  max-height: 400px;
  transform: translateY(0.1px);
  /* 이거 잘 모르는듯 */
}

.lnb-wrap.reopen {
  animation: reopen 0.4s ease;
}

@keyframes reopen {
  0% {
    /* opacity: 0.7; */
    transform: translateY(-4px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
  }
}


/* 각 LNB 내부 스타일 */
.lnb {
  display: none;
  width: 100%;
  padding: 30px 0;
}

.lnb.active {
  display: block;
  z-index: 10;
}

.lnb > ul {
  width: 73%;
  display: flex;
  justify-content: start;
  gap: 40px;
  margin: 0 auto;
}

.lnb ul > li {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-bottom: 8px;
}

.lnb a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}

.lnb a:hover {
  text-decoration: underline;
}

.lnb > ul > li > h5 {
  padding-bottom: 12px;
}

.lnb > ul > li > h5 > a {
  color: #fff;
  font-size: 14px;
  padding-bottom: 12px;
}
