

/* Header 기본 구조 */
.header-web {
  display: block;
  position: relative;
  background: #f6f5ef;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 100vw;
  height: 120px;
  font-size: 13px;
  position: fixed;
}

.header-web-inner {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  place-items: center center;
}

.util-nav > ul {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 24px;
}

.gnb > ul {
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.gnb a {
  color: #999;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 8px 40px 8px;
}

.gnb a:hover {
    color: #669900;
    text-decoration: underline;
    background: #2c2a29;
    border-bottom: 1px solid #2c2a29;
    /* padding: 8px 8px 38px 8px; */
}

/* LNB 영역 */
.lnb-wrap {
  position: fixed;
  top: 120px;
  left: 0;
  /* margin-top: 120px; */
  width: 100%;
  background: #2c2a29;
  overflow: hidden;
  z-index: 999;

  /* 처음에는 접혀 있음 */
  /* 기본 상태 (접힘) */
  max-height: 0;
  /* opacity: 0; */
  transform: translateY(-10px);
  transition:
    max-height 0.6s cubic-bezier(0.6, 0, 0.4, 1),
    /* opacity 300ms ease, */
    transform 300ms ease;
  display: flex;
  justify-content: center;
}

/* 활성화 시 펼쳐짐 */
.lnb-wrap.active {
  max-height: 400px;
  /* opacity: 1; */
  transform: translateY(0);
}

.lnb-wrap.active.alt {
  /* gnb li a 옮겨갈때 애니메이션이 재실행이 안되는 문제가 있었는데, 동일한 상태지만 미세하게 다르게 지정해서 애니메이션 재실행 유도 */
  max-height: 400px;
  transform: translateY(0.1px);
  /* 이거 잘 모르는듯 */
}

.lnb-wrap.reopen {
  animation: reopen 0.4s ease;
}

@keyframes reopen {
  0% {
    /* opacity: 0.7; */
    transform: translateY(-4px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
  }
}


/* 각 LNB 내부 스타일 */
.lnb {
  display: none;
  width: 100%;
  padding: 30px 0;
}

.lnb.active {
  display: block;
  z-index: 10;
}

.lnb > ul {
  width: 73%;
  display: flex;
  justify-content: start;
  gap: 40px;
  margin: 0 auto;
}

.lnb ul > li {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-bottom: 8px;
}

.lnb a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}

.lnb a:hover {
  text-decoration: underline;
}

.lnb > ul > li > h5 {
  padding-bottom: 12px;
}

.lnb > ul > li > h5 > a {
  color: #fff;
  font-size: 14px;
  padding-bottom: 12px;
}

.header-mob {
  display: none;
}

.header-mob-dim {
  display: none;
}

  .mob-gnb-menus ul li.mob-gnb-ttl1 {
    display: none;
  }
  .mob-gnb-menus ul li.mob-gnb-ttl1 a {
    display: none;
  }
  .mob-gnb-menus {
    display: none;
  }

@media screen and (max-width: 920px) {
  .header-web {
    display: none;
  }

  .header-mob {
    display: block;
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    height: 69px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .header-mob h1.logo {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 45px;
    height: 45px;
  }

  .header-mob h1.logo a {
    background: url(../images/header/logo.png);
    background-size: 45px auto;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -20000px;
    width: 100%;
  }

  .header-mob-right {
    float: right;
    height: 70px;
    width: 235px;
  }

  .header-mob-right ul li {
    float: left;
    height: 60px;
    margin: 10px 0 0 1px;
    position: relative;
    width: 60px;
  }

  .header-mob-right ul li a {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
  }

  .header-mob-right ul li.header-mob02 a {
    background: url(../images/header/mob/icon_user_m.png);
    background-size: 100% auto;
    height: 30px;
    left: 18px;
    top: 14px;
    width: 25px;
  }

  .a11y {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
  }

  .header-mob-right ul li.header-mob03 a {
    background: url(../images/header/mob/icon_spot_m.png);
    background-size: 100% auto;
    height: 32px;
    left: 16px;
    top: 12px;
    width: 24px;
  }

  .header-mob-right ul li.header-mob04 {
    width: 51px;
  }

  .header-mob-right ul li.header-mob04 a {
    background: url(../images/header/mob/btn_berger_m.png) no-repeat;
    background-size: 100% auto;
    height: 26px;
    left: 11px;
    top: 15px;
    width: 28px;
    display: inline-block;
    transition: transform 0.3s ease;
  }



  .header-mob-dim {
    background: #000;
    height: 100%;
    left: 0;
    opacity: .7;
    filter: opacity(20%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 199;
  }

  .header-mob-dim.active {
    display: block;
  }

  .header-mob-gnb {
    background: #000;
    height: 100%;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    z-index: 200;
    display: none;
  }

  /* 햄버거 메뉴 열었을 때 gnb 가 열리도록 */
  .header-mob-gnb.active {
    display: block;
    animation: fadeRight .6s ease forwards;
  }

  @keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
    
  }

  .header-mob-gnb-inner {
    height: 100%;
    overflow: auto;
    margin-right: -15px;
  }

  .btn-gnb-close {
    height: 30px;
    left: -58px;
    position: absolute;
    top: 47px;
    width: 30px;
    z-index: 100;
  }

  .btn-gnb-close a {
    background: url(../images/header/mob/btn_gnb_close.png);
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -20000px;
    width: 100%;
    transition: -webkit-transform 1s;
  }

    /* 메뉴 닫기 버튼 눌렀을 때 회전 */
  .btn-gnb-close a:hover {
      transform: rotate(180deg);
  }


  .header-mob-gnb-search {
    background: #2d2926;
    border-bottom: 1px solid #222;
    height: 111px;
    position: relative;
    width: 100%;
  }

  .header-mob-gnb-search-inner {
    height: 50px;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    top: 30px;
    width: 300px;
  }

  .header-mob-gnb-search-inner input {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    float: left;
    height: 48px;
    width: 190px;
  }
  
  .header-mob-gnb-search-inner a {
    background: #666;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 18px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
  }

  .mob-gnb-menus.active {
    display: block;
  }

  .mob-gnb-menus ul li.mob-gnb-ttl1 {
    display: list-item;
    background: #2d2926;
    border-bottom: 1px solid #222;
    font-size: 18px;
    font-weight: normal;
    line-height: 76px;
    text-indent: 20px;
  }
  .mob-gnb-menus ul li.mob-gnb-ttl1 a {
    color: #fff;
    display: block;
    height: 76px;
    position: relative;
    width: 100%;
  }

  .mob-gnb-menus ul li.mob-gnb-ttl1 a span.mob-gnb-arrow-down {
    background: url(../images/header/mob/mob_gnb_arrow_down_w.png) no-repeat;
    display: block;
    height: 12px;
    margin-top: -6px;
    right: 40px;
    position: absolute;
    top: 50%;
    width: 21px;
  }

  /* gnb ttl1, ttl2 영역 클릭시 화살표 상하반전으로 아이콘 돌아감 */
  span.mob-gnb-arrow-down.active {
    transform: rotate(180deg);
  }

  .mob-gnb-menus ul li {
    background: #181818;
    border-bottom: 1px solid #222;
    font-size: 18px;
    font-weight: normal;
    line-height: 76px;
    text-indent: 35px;
    display: none;
  }
  .mob-gnb-menus ul li.active {
    display: list-item;
  }
  .mob-gnb-menus ul li a {
    color: #fff;
    display: block;
    height: 76px;
    position: relative;
    width: 100%;
  }
  .mob-gnb-menus ul li.mob-gnb-ttl2 {
    background: #000;
    border-bottom: 1px solid #222;
    font-size: 18px;
    font-weight: normal;
    line-height: 76px;
    text-indent: 20px;
    display: list-item;
  }
  .mob-gnb-menus ul li.mob-gnb-ttl2 a {
    color: #fff;
    display: block;
    height: 76px;
    position: relative;
    width: 100%;
  }
}