.notice {
    position: relative;
    height: 62px;
    width: 100%;
}

.notice-left {
    width: 50%;
    height: 62px;
    background: #000;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    /* padding-left: 180px; */
    overflow: hidden;
}

.notice-left-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
}

.notice-left-inner h5 p {
    display: block;
}

.notice-right {
    width: 50%;
    height: 62px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.notice-right > a {
    display: flex;
    place-items: center center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 64px;
    font-size: 16px;
    color: #242422;
    font-weight: 500;
}

.notice-right > a > p {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1.4px;
    color: #393939;
}

.notice-right > a > span, .notice-left > a {
    background-size: 35px;
    height: 36px;
    left: 0;
    top: 0;
    width: 36px;
}

.notice-right > a > span img, .notice-left > a > img {
    /* a 영역을 누르면 span 영역의 아이콘이 상하회전되면서 */
    /* promotion 섹션이 열리게 */
    /* 열려있는 상태에서 span 영역 아이콘을 누르면 원래의 모습으로 돌아오면서 */
    /* promotion 섹션 닫히게 */
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.notice-right > a > span.active img {
    transform: rotate(180deg);
}

.notice-left h5 {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}

.notice-list {
    height: 24px;
    overflow: hidden;
}

.notice-list a {
    width: 36px;
}

.notice-list p {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    transition: transform 0.6s ease;
}

.notice-slide {
    display: flex;
    align-items: center;
}

.notice-slide > a {
    line-height: 1.8;
    color: #fff;
    font-size: 14px;
}

.speaker-icon {
    display: none;
}

@media screen and (max-width: 920px) {
    /* body {
        overflow-x: hidden;
    } */

    .notice {
        height: 220px;
    }

    .notice-left {
        height: 110px;
        width: 100%;
        padding-left: 0;
    }

    .notice-left-inenr > a {
    width: 62px;
    }

    .notice-left-inenr > a > img {
    max-width: none;
    }

    .notice-right {
        height: 110px;
        top: 110px;
        width: 100%;
    }

    .notice-slide > a {
    line-height: inherit;
    color: #fff;
    font-size: 18px;
    }

/* .notice-left-inner h5 {
    text-indent: -2000px;
} */

    .notice-left-inner h5::before {
    content: '';
    background: url(../images/header/mob/icon_board_speaker.png);
    display: block;
    /* width: 65px; */
    /* text-indent: -2000px; */
    color: transparent;
    }

    .speaker-icon {
        display: block;
        width: 32px;
    }

    .speaker-icon img {
        width: 100%;
    }

    .notice-left-inner h5 p {
    display: none;
    }

    .notice-list a {
        width: 62px;
    }

    .notice-right > a {
    top: 38%;
    }

    .notice-right > a > p {
    font-size: 28px;
    }

}