.promotion {
    display: none;
    background: #f6f5ef;
    border-top: 1px solid #f6f5ef;
    position: relative;
    width: 100%;
    height: 658px;
    z-index: 10;
    overflow: hidden;
}

.promotion.active {
    display: block;
}

.promotion > ul {
    margin-top: 24px;
    display: flex;
    gap: 30px;
    margin-left: -540px;
}

.promotion-slide {
    opacity: 0.5;
}

.promotion-slide.active {
    opacity: 1;
}

.promotion > ul > li > img {
    display: block;
    max-width: none;
}

.promotion > ul > li {
    position: relative;
}

.promotion > ul > li > a {
    border: 2px solid #222;
    border-radius: 3px;
    color: #222;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: -50px auto 0;
    text-align: center;
    width: 121px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.promotion > ul > li > a:hover {
    background: #222;
    color: #fff;
    text-decoration: underline;
    transition: background .5s ease;
}

.promotion .controller {
    display: flex;
    position: absolute;
    bottom: 35px;
    left: 50%;
    gap: 12px;
}

.promotion .controller > a {
    width: 9px;
    height: 12px;
}

.promotion .controller > a.stop {
    background: url(../images/main_prom_stop.png) 0 0;
}

.promotion .controller > a.start {
    background: url(../images/main_prom_play.png) 0 0;
}

.promotion .pager > .dot {
    background: url(../images/main_prom_off.png) no-repeat;
    width: 13px;
    height: 13px;
}

.promotion .pager > .dot.active {
    background: url(../images/main_prom_on.png) no-repeat;
}

.promotion .controller .pager {
    display: flex;
    gap: 10px;
}

.prom-btn-wrapper {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.prom-btn-wrapper .prevBtn, .prom-btn-wrapper .nextBtn {
    border: 2px solid #222;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.prom-btn-wrapper .prevBtn a {
    background: url(../images/arrow_left_on.png) no-repeat center;
    display: flex;
    width: 100%;
    height: 100%;
}

.prom-btn-wrapper .nextBtn a {
    background: url(../images/arrow_right_on.png) no-repeat center;
    display: flex;
    width: 100%;
    height: 100%;
}

.prom-btn-wrapper .prevBtn a:hover {
    background: url(../images/arrow_left_on.png) no-repeat center #fff;
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    transition: background .8s ease;
}

.prom-btn-wrapper .nextBtn a:hover {
    background: url(../images/arrow_right_on.png) no-repeat center #fff;
    border-radius: 50%;
    display: flex;
    width: 100%;
    height: 100%;
    transition: background .8s ease;
}