@import url(../css/reset.css);
@import url(../css/common.css);

@import url(../css/header.css);
@import url(../css/footer.css);
@import url(../css/main-visual.css);
@import url(../css/notice.css);
@import url(../css/promo.css);
@import url(../css/reward.css);
/* import는 언제 쓰는게 좋을까? 공용css 관리할 때? */

.container {
    overflow-x: hidden;
}

/* ======== top-wrap ======== */
.top-wrap {
    position: relative;
    height: 100%;
    border-top: 0;
}

.layer-floating {
    position: fixed;
    top: 154px;
    left: 54.5%;
    width: 140px;
    margin-left: 485px;
    z-index: 999;
}

.layer-floating a {
    display: block;
    width: 100%;
    height: 100%;
}

.layer-floating img {
    display: block;
    width: 100%;
}

.layer-floating .mobile-badge {
    display: none;
}

/* ============= main-bean ============= */

section.main-bean {
    background: url(../images/bean/2025_winter_promotion_bg_251027.jpg) center / cover no-repeat;
    height: 578px; 
    position: relative;
    overflow: hidden;
    display: block;
}

/* section.main-bean img {
    translate: -100%;
    opacity: 0;
}

section.main-bean.show img {
    translate: 0;
    opacity: 1;
} */

.main-bean-inner {
    max-width: 1124px;
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.main-bean-inner .bean-img-box {
    position: absolute;
    top: 13.324%;
    left: 28.572%;
    width: 20.643%;
    margin-left: -5%;
    z-index: 9;
    opacity: 0;
}

.main-bean-inner .bean-img-box.active {
    animation: fadeLeft 1s ease forwards;
    animation-delay: .6s;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.bean-img-box img {
    width: 100%;
}

.bean-txt-box {
    position: absolute;
    top: 31.144%;
    right: 21.786%;
    width: 31.143%;
    z-index: 9;
    opacity: 0;
}

.bean-txt-box.active {
    animation: fadeRight 1s ease forwards;
    animation-delay: .6s;
}   

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.bean-txt-box img {
    width: 100%;
}

.btn-bean-detail {
    width: 125px;
    height: 38px;
    margin-top: 40px;
}

.btn-bean-detail a {
    color: #fff;
    border: 2px solid #fff;
    transition: background-color .7s, color .7s;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.btn-bean-detail a:hover {
    text-decoration: underline;
    background: #fff;
    color: red;
}

.pc-bean {
    display: block;
}

.pc-bean-txt {
    display: block;
}

.mo-bean {
    display: none;
}

.mo-bean-txt {
    display: none;
}

@media screen and (max-width: 920px) {
    section.main-bean {
        background-image: url(../images/bean/mob/2025_winter_promotion_bg_mo_251027.jpg);
        height: 188.75vw;
    }

    .main-bean-inner {
        max-width: none;
    }

    .main-bean-inner .bean-img-box {
        z-index: 10;
        top: 8.941%;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
    }

    .bean-txt-box {
        z-index: 10;
        top: 53.726%;
        left: 0;
        right: 0;
        bottom: auto;
        max-width: 100%;
        width: 100%;
        transform: translate(0);
    }

    .pc-bean {
        display: none;
    }

    .pc-bean-txt {
        display: none;
    }

    .mo-bean {
        display: block;
        width: 100%;
    }

    .mo-bean-txt {
        display: block;
        width: 100%;
    }

    .btn-bean-detail {
        margin: 6.25% auto 0;
        width: 36%;
        height: auto;
    }

    .btn-bean-detail a {
        line-height: 10vw;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        border-color: #fff;
        border-radius: 3px;
    }
}


/* ========= reserve ========== */

.reserve {
    display: block;
    position: relative;
    height: 400px;
    background: url(../images/reserve/251021_pc_reserve_bg.jpg) no-repeat center top;
    background-size: 100% 400px;
    overflow: hidden;
}

.reserve-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve-tit {
    position: relative;
    z-index: 10;
    padding-top: 63px;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.reserve-tit img {
    width: auto;
    transform: translateX(70px);
}

.reserve-visual {
    position: absolute;
    top: 0;
    right: -12%;
    opacity: 1;
}

.reserve-visual img {
    width: auto;
    max-width: none;
}

.reserve-visual .reserve-visual-pc {
    display: block;
}

.reserve-visual .reserve-vsual-mo {
    display: none;
}

.reserve-detail-btn-wrap {
    position: relative;
    z-index: 10;
    max-width: 1080px;
    margin: 43px auto;
    padding-left: 306px;
    box-sizing: border-box;
}

.reserve-detail-btn {
    width: 125px;
    height: 38px;
}

.reserve-detail-btn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #d0923e;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border: 2px solid #d0923e;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color .7s, color .7s border-color .7s;
}

.reserve-detail-btn a:hover {
    background-color: #d0923e;
    color: rgb(16, 31, 16);
    transition: background-color .7s, color .7s;
    text-decoration: underline;
}

@media screen and (max-width: 920px) {
    .reserve {
        height: 100%;
        background-size: auto 335px;
    }

    .reserve-tit {
        max-width: none;
        width: 60%;
        padding-top: 56px;
        padding-left: 15.5%;
        margin: 0;
        display: none;
    }

    .reserve-visual {
        bottom: 0;
        right: auto;
        width: 100%;
        position: static;
    }

    .reserve-visual img {
        max-width: none;
        height: auto;
        width: 100%;
    }
    
    .reserve-visual .reserve-visual-pc {
        max-width: none;
        display: none;
    }

    .reserve-visual .reserve-vsual-mo {
        display: block;
    }

    .reserve-detail-btn-wrap {
        position: static;
        width: auto;
        margin: 0;
        padding-left: 0;
    }
    
    .reserve-detail-btn {
        position: absolute;
        z-index: 10;
        width: 35.938%;
        height: 6.346%;
        left: 32%;
        bottom: 5.776%;
    }

    .reserve-detail-btn a {
        color: #d0923e;
        border: 2px solid #d0923e;
        border-radius: 2px;
        font-size: 3.8vw;
        line-height: 9.5vw;
        font-weight: bold;
    }

    .reserve-detail-btn a:hover {
        color: #fff;
    }
}

/* ========== fav ========= */

.fav {
    background: url(../images/fav/2025_winter_pick_bg_251027.jpg) center center fixed no-repeat #45434c;
    background-size: auto 87%;
    height: 800px;
    padding: 0;
    position: relative;
    background-position: bottom;
    overflow: hidden;
}

.fav-inner {
    left: 50%;
    margin-left: -640px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1280px;
}

.fav-prod-txt01 {
    background: url(../images/fav/2025_january_pick_txt01.png) no-repeat;
    height: 204px;
    left: 200px;
    overflow: hidden;
    position: absolute;
    text-indent: -20000px;
    top: 120px;
    width: 258px;
    z-index: 7;
    opacity: 0;
}

.fav-prod-txt01.active {
    top: 170px;
    animation: fadeMove 1s ease forwards;
    animation-delay: 0.3s;
    /* transition: opacity 0.8s ease, top 0.8s ease; */
}

@keyframes fadeMove {
    from {
        opacity: 0;
        /* top: 120px; */
        left: 0;
    }
    to {
        opacity: 1;
        /* top: 170px; */
        left: 200px;
    }
}

.fav-prod-txt02 {
    background: url(../images/fav/2025_january_pick_txt02.png);
    background-size: cover;
    height: 156px;
    left: 92px;
    overflow: hidden;
    position: absolute;
    text-indent: -200000px;
    top: 370px;
    width: 362px;
    z-index: 7;
    opacity: 0;
}

.fav-prod-txt02.active {
    top: 420px;
    animation: fadeMove01 1s ease forwards;
    animation-delay: .3s;
}

@keyframes fadeMove01 {
    from {
        opacity: 0;
        /* top: 370px; */
        left: 0;
    }
    to {
        opacity: 1;
        /* top: 420px; */
        left: 92px;
    }
    
}

.fav-img {
    position: absolute;
    top: 93px;
    right: -193px;
    width: 953px;
    height: 615px;
    background-image: url(../images/fav/2025_winter_pick_img_251027.png);
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 7;
}

.btn-fav-prod {
    position: absolute;
    /* top: 570px; */
    top: 607px;
    left: 328px;
    z-index: 7;
    /* border: 2px solid #fff; */
    border-radius: 3px;
    width: 125px;
    height: 38px;
    opacity: 0;
}

.btn-fav-prod.active {
    animation: fadeIn02 1s ease forwards;
    animation-delay: .8s;
}

@keyframes fadeIn02 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn-fav-prod a {
    color: #fff;
    display: block;
    height: 100%;
    line-height: 34px;
    text-align: center;
    width: 100%;
    transition: background-color .7s, color .7s;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-fav-prod a:hover {
    background-color: #fff;
    color: #343434;
    text-decoration: underline;
}

@media screen and (max-width: 920px) {
    .fav {
        background: url(../images/fav/mob/2025_winter_pick_bg_mo_251027.jpg);
        background-size: cover;
        background-position: center;
        height: 233.75vw;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .fav-prod-txt01 {
        background: url(../images/fav/mob/2025_january_pick_txt01_mo.png) no-repeat;
        background-size: 100% auto;
        height: 100%;
        position: absolute;
        top: 65.4% !important;
        left: 50%;
        width: 62.8vw;
        transform: translateX(-50%);
        margin-left: 0;
        z-index: 7;
    }

    .fav-prod-txt01.active {
        animation: fadeIn03 .3s ease forwards;
        animation-delay: .3s;
    }

    .fav-prod-txt02 {
        position: absolute;
        top: 74% !important;
        left: 50%;
        width: 81vw;
        height: 100%;
        background: url(../images/fav/mob/2025_january_pick_txt02_mo.png) no-repeat;
        background-size: 100% auto;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .fav-prod-txt02.active {
        animation: fadeIn03 .3s ease forwards;
        animation-delay: .3s;
    }

    @keyframes fadeIn03 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fav-img {
        width: 100vw;
        height: 30.214%;
        margin: 25vw auto 0;
        background-image: url(../images/fav/mob/2025_winter_pick_img_mo_251027.png);
        margin-top: 22.5vw;
        position: static;
        transform: translateY(0);
    }

    .btn-fav-prod {
        width: 36vw;
        height: auto;
        margin-top: 0;
        margin-left: auto;
        transform: translateX(-50%);
        top: 88% !important;
        left: 50%;
    }

    .btn-fav-prod.active {
        animation: fadeIn03 .3s ease forwards;
        animation-delay: .3s;
    }

    .btn-fav-prod a {
        color: #fff;
        border: 2px solid #fff;
        border-radius: 2px;
        font-size: 3.8vw;
        line-height: 11vw;
        font-weight: bold;
    }
}

/* ======= magazine ======= */

.magazine {
    display: block;
    overflow: hidden;
    position: relative;
    height: 400px;
    background: url(../images/magazine/reserve_bg_pc.png) no-repeat 50% 100%;
    background-size: auto 353px;
}

.magazine .magazine-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.magazine-title {
    position: relative;
    z-index: 10;
    padding-top: 135px;
    padding-left: 55px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    opacity: 0;
}

.magazine-title.active {
    width: auto;
    transform: translateX(70px);
    animation: fadeIn02 1s ease forwards;
    animation-delay: .8s;
}

/* .magazine-title img {
    width: auto;
    transform: translateX(70px);
} */

.magazine-visual {
    display: block;
    position: absolute;
    bottom: auto;
    top: 0;
    right: 50%;
    margin-right: -463px;
    opacity: 0;  
}

.magazine-visual.active {
    width: auto;
    animation: fadeIn02 1s ease forwards;
}

/* .magazine-visual img {
    width: auto;
    opacity: 0;
    animation: fadeIn02 1s ease forwards;
} */

.magazine-visual-pc {
    max-width: none;
    min-width: auto;
}

.magazine-visual-mob {
    display: none;
}

.magazine-visual-btn-area {
    padding-left: 0;
    width: 100% !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 1100px;
    margin: 33px auto 0;
    box-sizing: border-box;
}

.magazine-visual-btn {
    box-sizing: border-box;
    padding-left: 225px;
    width: 583px;
    height: 38px;
    opacity: 0;
}

.magazine-visual-btn.active {
    transition: background-color .7s, color .7s, border-color .7s;
    animation: fadeIn02 1s ease forwards;
    animation-delay: .8s;
}

.magazine-visual-btn-area .magazine-visual-btn a {
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    /* -webkit-transition: background-color .7s, color .7s, border-color .7s; */
}


.magazine-visual-btn-area .magazine-visual-btn a:hover {
    color: #fff;
    background: #000;
    text-decoration: underline;
}

@media screen and (max-width: 920px) {
    .magazine {
        height: auto;
        background: none;
    }

    .magazine-title {
        display: none;
    }

    .magazine-visual {
        position: static;
        bottom: 0;
        right: auto;
        width: 100%;
        height: 100%;
        margin-right: 0;
        opacity: 1;
    }

    .magazine-visual img {
        max-width: none;
        width: 100%;
        height: auto;
    }

    .magazine-visual-pc {
        display: none;
    }

    .magazine-txt-pc {
        display: none;
    }

    .magazine-visual-mob {
        display: block;
    }
}

/* ========== store ========== */

.store {
    display: block;
    background: url(../images/store/store_bg.jpg);
    background-size: 100% auto;
    height: 400px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.store-inner {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
}

.store-img01 {
    background: url(../images/store/221212_main_story_2.png);
    height: 228px;
    left: 390px;
    position: absolute;
    top: 149px;
    width: 228px;
    z-index: 5;
    background-size: contain;
    opacity: 0;
    animation: fadeIn02 1s ease forwards;
}

.store-img02 {
    background: url(../images/store/221212_main_story_1.png);
    height: 312px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 366px;
    z-index: 4;
    background-size: contain;
    opacity: 0;
    animation: fadeIn02 1s ease forwards;
}

.store-img03 {
    background: url(../images/store/store_exp_img03.png);
    height: 142px;
    left: 520px;
    position: absolute;
    top: -60px;
    width: 343px;
    z-index: 4;
    opacity: 0;
    animation: fadeIn02 1s ease forwards;
}

.store-img04 {
    background: url(../images/store/store_exp_img04.png);
    height: 102px;
    position: absolute;
    right: 30px;
    top: 298px;
    width: 230px;
    z-index: 4;
    opacity: 0;
    animation: fadeIn02 1s ease forwards;
}

.store-txt01 {
    background: url(../images/store/221212_pc_main_story_txt_1.png);
    height: 54px;
    position: absolute;
    right: 162px;
    overflow: hidden;
    text-indent: -20000px;
    top: 100px;
    width: 374px;
    z-index: 4;
    opacity: 0;
}

.store-txt01.active {
    animation: fadeMove04 .6s ease forwards;
    animation-delay: .6s;
}

@keyframes fadeMove03 {
    from {
        opacity: 0;
        transform: translateX(100px);
        /* 오른쪽에서 100px 밀려있게 시작 */
    }
    to {
        opacity: 1;
        transform: translateX(0);
        /* 제자리로 */
    }
}

.store-txt02 {
    background: url(../images/store/221212_pc_main_story_txt_2.png);
    height: 92px;
    position: absolute;
    right: 168px;
    overflow: hidden;
    text-indent: -20000px;
    top: 168px;
    width: 366px;
    z-index: 4;
    opacity: 0;
}

.store-txt02.active {
    animation: fadeMove04 1s ease forwards;
    animation-delay: .9s;
}

@keyframes fadeMove04 {
    from {
        opacity: 0;
        transform: translateX(120px);
        /* 오른쪽에서 100px 밀려있게 시작 */
    }
    to {
        opacity: 1;
        transform: translateX(0);
        /* 제자리로 */
    }
}

.store-btn {
    border: 2px solid #222;
    border-radius: 3px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 408px;
    top: 290px;
    width: 121px;
    z-index: 4;
    opacity: 0;
}

.store-btn.active {
    animation: fadeMove04 1s ease forwards;
    animation-delay: 1.2s;
}

.store-btn > a {
    color: #222;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    transition: background-color .7s, color .7s;
}

.store-btn > a:hover {
    color: #fff;
    background-color: #222;
    text-decoration: underline;
}